<%= render "layouts/navbar" %>
<div style="margin-left:25%;padding:1px 16px;height:1000px;">
<h2>Bienvenido</h2>
<h1><%= current_user.profile.name %><%= current_user.profile.number %><%= current_user.profile.school.name%><%= current_user.profile.department.name%></h1>
</div>
